
body {
    background-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, sans-serif;

    margin: 0px;
}

a:link, a:visited {
    color: #3245c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#map-and-canvas {
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

#diagram {
    position: absolute;
}

#aux-bar {
    background-color: #ccc;
    border-bottom: 1px solid #ddd;

    position: fixed;
    top: 0px;
    width: 100%;
}

#controls {
    position: relative;
    left: 250px;
    bottom: 0px;
    padding-top: 10px;
}

#title {
    color: #272727;
    font-size: 24px;
    font-weight: bold;
    width: 220px;

    float: left;
    position: absolute;

    padding: 12px 0 0 4px;
}

#links-trigger {
    position: absolute;
    top: 100%;
    right: 0px;
    text-align: right;
}

.trigger #links {
    display: none;
}

.trigger:hover #links {
    display: block;
}

#links {
    padding: 3px 3px 4px 3px;

    font-weight: normal;
    font-size: 12px;
}

.control-title {
    float: left;
    font-weight: bold;
    color: #333333;
    text-shadow: #ddd 1px 1px 0;

    position: relative;
    padding-right: 3px;
    margin-top: 4px;
    margin-bottom: -4px;
}

.control-surround {
    position: relative;
    bottom: -1px;
    float: left;

    background-color: #bbb;
    border-left: 1px solid #999;
    border-top: 1px solid #999;
    border-right: 1px solid #ddd;

    padding: 3px 3px 4px 3px;
    margin-right: 20px;
    height: 23px;
}
